body {
    overflow-y: auto;
}
:root {
    --sidebar-bg-color: #ffffff;
    --sidebar-item-active: #ffc5c2;
    --sidebar-item-color : #760105;
    --button-color: #BA1E23;
}
// make scrollable to activity pages
.container {
    max-height: 85vh;
    overflow-y: auto;
}
.container-lg{
    max-height: 100vh;
    overflow-y: auto;
}
/* 
Controlling eye button for hide or show password   
*/
.password {
    position: relative;
}

.eye {
    position: absolute;
    right: 15px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px;
    color: #aaa;
}

.description{
    cursor: pointer;
    white-space: pre-line;
}

input, select {
    padding: 10px 15px !important;
}
.cancel{
    background-color: grey!important;
}

.delete:hover{
    color : red;
}

.edit:hover{
    color : blue !important;
}

.delete, .edit{
    cursor: pointer;
}